.background {
  background-color: #171717;
}

.card-color {
  background-color: #444444;
}

.text-color {
  color: #ededed;
}

.accent-color {
  color: #da0037;
  font-style: italic;
}

.serif {
  font-family: "Merriweather", serif;
}

.sans-serif {
  font-family: "Noto Sans", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
}

.img-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30%;
  height: auto;
  margin: 5% 10%;
}
.img-container img {
  display: block;
  width: 100%;
  height: auto;
}
@media (max-width: 1300px) and (min-width: 1050px) {
  .img-container img {
    height: 100%;
    width: auto;
  }
}
@media (max-width: 350px) {
  .img-container {
    width: 100%;
    margin: auto;
    right: 0;
    left: 0;
  }
}
@media (max-width: 600px) and (min-width: 350px) {
  .img-container {
    width: 100%;
    margin: auto;
    right: 0;
    left: 0;
  }
}
@media (max-width: 800px) and (min-width: 600px) {
  .img-container {
    width: 100%;
    margin: auto;
    right: 0;
    left: 0;
  }
}
@media (max-width: 1050px) and (min-width: 800px) and (min-height: 800px) {
  .img-container {
    width: 100%;
    margin: auto;
    right: 0;
    left: 0;
  }
}
@media (max-width: 1300px) and (min-width: 1050px) {
  .img-container {
    height: 40%;
    width: auto;
  }
}

.header {
  display: flex;
  position: relative;
  justify-content: center;
  margin: auto;
  cursor: pointer;
}
.header .title {
  font-size: 90px;
  letter-spacing: -2px;
  text-align: center;
}
@media (max-width: 350px) {
  .header .title {
    font-size: 2.05rem;
    letter-spacing: 0px;
  }
}
@media (max-width: 600px) and (min-width: 350px) {
  .header .title {
    font-size: 2.8rem;
    letter-spacing: 0px;
  }
}
@media (max-width: 800px) and (min-width: 600px) {
  .header .title {
    font-size: 4rem;
    letter-spacing: 0px;
    margin: 0 auto auto;
  }
}
@media (max-width: 1050px) and (min-width: 800px) and (min-height: 800px) {
  .header .title {
    font-size: 5.5rem;
    letter-spacing: 0px;
    margin: 0 auto auto;
  }
}
@media (max-width: 1300px) and (min-width: 1050px) {
  .header .title {
    font-size: 4rem;
  }
}
.header .title-bg {
  position: absolute;
  margin: auto;
  left: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  border-radius: 0.6rem;
}
.header.initial .title-bg {
  background-color: transparent;
}
@media (max-width: 350px) {
  .header {
    transform: translateY(-200%);
  }
}
@media (max-width: 600px) and (min-width: 350px) {
  .header {
    transform: translateY(-200%);
  }
}
@media (max-width: 800px) and (min-width: 600px) {
  .header {
    transform: translateY(-300%);
  }
}
@media (max-width: 1050px) and (min-width: 800px) and (min-height: 800px) {
  .header {
    transform: translateY(-200%);
  }
}

.card.description {
  padding: 1em 2.2em 1.5em;
  margin: auto 0 auto auto;
  font-size: 3rem;
  cursor: pointer;
}
.card.description .card-content {
  margin: auto;
}
.card.description .card-content ul {
  list-style: inside;
}
.card.description.initial {
  visibility: hidden;
}
@media (max-width: 350px) {
  .card.description {
    margin: 5% auto auto auto;
    font-size: 1rem;
    width: 100%;
    display: flex;
    transform: translateY(-50%);
  }
}
@media (max-width: 600px) and (min-width: 350px) {
  .card.description {
    margin: 5% auto auto auto;
    font-size: 1.4rem;
    width: 100%;
    display: flex;
    transform: translateY(-60%);
  }
}
@media (max-width: 800px) and (min-width: 600px) {
  .card.description {
    margin: 5% auto auto auto;
    font-size: 2rem;
    width: 100%;
    display: flex;
    transform: translateY(-100%);
  }
}
@media (max-width: 1050px) and (min-width: 800px) and (min-height: 800px) {
  .card.description {
    margin: 5% auto auto auto;
    font-size: 3.5rem;
    width: 100%;
    display: flex;
    transform: translateY(-50%);
  }
}
@media (max-width: 1300px) and (min-width: 1050px) {
  .card.description {
    font-size: 2.5rem;
  }
}

.cta {
  font-size: 3rem;
  text-align: center;
}
.cta .arrow-icon {
  width: 10%;
  margin: auto;
}

.card {
  padding: 0.5% 3%;
  border-radius: 0.6rem;
}

.container {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%;
  padding: 5% 10%;
  align-content: center;
  flex-direction: column;
  overflow: hidden;
}

/*# sourceMappingURL=styles.css.map */
